<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/pinghsu/header::header(${article.articleTitle},${article.tagsName})"></div>
<body>
<article class="main-content page-page" itemscope="" itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a th:href="@{'/post/'+${article.articleUrl}}" th:text="${article.articleTitle}" data-no-instant=""></a>
        </h1>
        <div class="post-data">
            <time itemprop="datePublished" th:text="'发布于 '+ ${#dates.format(article.articleNewstime,'yyyy/MM/dd HH:mm:ss')}"></time>
            / <th:block th:utext="${commons.show_categories(article.categorysUrl,article.categorysName)}"/> / <th:block th:text="${article.articleViews == null ? 0 : article.articleViews}+'浏览'"></th:block>
            	||<a th:href="@{'/admin/article/edit?article_id='+${article.id}}"  target="_blank" th:text="编辑"></a>
		<!-- id 将作为查询条件
		<span th:id="'/post/'+${article.articleUrl}" class="leancloud-visitors">
    		<em class="post-meta-item-text">阅读量 </em>
  		 	 <i class="leancloud-visitors-count"></i>
		</span> -->
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags" th:utext="${commons.show_tags(article.tagsUrl,article.tagsName)}"></p>
        <th:block th:utext="${article.articleContent}"/>
	    <th:block th:unless=" ${#lists.isEmpty(relations)}">
            <div class="post-lists" style="border-top: 1px solid #e0e0e0;">
                <div class="post-lists-body">
                    <th:block th:each="relation : ${relations}">
                        <div class="post-list-item" style="width: 50%;">
                            <div class="post-list-item-container " style="height: 150px;">
                                <div class="item-label " style="    padding: 6px 20px 40px;">
                                    <div style="text-align: center;">
                                        <a  style="color:red;"  th:href="@{'/post/'+${relation.articleUrl}}" th:text="${relation.articleSummary}"></a>
                                        <p></p>
                                    </div>
                                    <div class="item-title">
                                        <a th:href="@{'/post/'+${relation.articleUrl}}" th:text="${relation.articleTitle}"></a>
                                    </div>
                                    <div class="item-meta clearfix" style="right:-3px;top:98px;" >
                                        <div th:class="'item-meta-ico '+${commons.show_icon(relation.id)} "
                                             th:style="'background: url('+@{/img/bg-ico.png}+') no-repeat;background-size: 40px auto;'"></div>
                                        <div ></strong>发布于 <th:block th:text="${#dates.format(article.articleNewstime,'yyyy-MM-dd')}"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>
	    
        <p class="post-info">
            本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名,转载请标明出处<br/>最后编辑时间为:
            <th:block th:text="${#dates.format(article.articleUpdatetime,'yyyy/MM/dd HH:mm:ss')}"/>
        </p>
    </div>
</article>
 <div th:replace="admin/module/macros :: comment"></div> 
 <div th:replace="themes/pinghsu/footer :: footer"></div> 
</body>
</html>
