<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/pinghsu/header::header(${keywords},${keywords})"></div>
<body>
<article class="main-content page-page" itemscope="" itemtype="http://schema.org/Article">
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags" style="border-bottom:0px;" th:utext="${commons.show_tags(tagsUrl,tagsName)}"></p>
    </div>
</article>

 <div th:replace="themes/pinghsu/footer :: footer"></div> 
</body>
</html>